body {
    background-image: linear-gradient(rgba(8, 2, 20, 0.902), rgba(17, 2, 22, 0.373)), url(../images/smart-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Alkatra', cursive;
}

.page {
    display: flex;
    flex-direction: column;
}

.room-name,
.device-name,
.status,
.optimal-temperature,
.user-temperature,
.text-conditioner,
.text-sound,
.text-jalousie {
    color: aliceblue;
}

.room-name,
.device-name {
    font-size: 16px;
}

.text-sound {
    font-size: 11px;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.421);
    border-radius: 10px;
    padding: 10px;
    width: 220px;
    height: 250px;
    background-color: rgba(32, 3, 56, 0.236);
}

.room:hover {
    border-color: #a0cfe1;
    box-shadow: 12px 12px 2px rgb(172, 213, 212, 0.2);
    content: "";
    position: relative;
}

.room-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.room-icon img,
#content img {
    height: 50px;
    width: 50px;
}

.devices {
    display: flex;
    justify-content: center;
}

.device {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.device img {
    height: 30px;
    width: 30px;
}

#tv {
    cursor: pointer;
}

.ac-temperature,
.sound-system-volume,
.jalousie-system {
    width: 70px;
    margin-top: 10px;
    cursor: pointer;
}

.ac-temperature,
.sound-system-volume,
.jalousie-system {
    display: none;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#security,
#lights,
#thermostat,
#appliances {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-btn {
    display: inline-flex;
}

.temperature-display {
    text-align: center;
}

.container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text {
    font-size: 13px;
    color: rgb(188, 28, 28);
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid rgba(188, 28, 28, 0.456);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color:  rgba(188, 28, 28, 0.456);
    transition: .3s;
}

.active {
    border-color: rgb(85, 227, 118);
}

.active + .text {
    color: rgb(85, 227, 118);
}

.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: rgb(85, 227, 118);
}




@media (min-width: 768px) {
    .page {
        flex-direction: row;
        width: 100%;
    }

    #content {
        margin-right: 50px;
    }
}