body {
    background-image: linear-gradient(rgba(8, 2, 20, 0.902), rgba(17, 2, 22, 0.373)), url(../images/smart-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Alkatra', cursive;
}

.page {
    display: flex;
    flex-direction: column;
}

.room-name,
.device-name,
.status,
.optimal-temperature,
.user-temperature,
.text-conditioner,
.text-sound,
.text-jalousie,
#ac-temp,
#decrease-temp,
#increase-temp,
.temperature-button_info,
.channel-select {
    color: aliceblue;
}

.room-name,
.device-name,
#ac-temp {
    font-size: 16px;
    text-align: center;
}

#decrease-temp,
#increase-temp {
    font-size: 18px;
    width: 20px;
    text-align: center;
    background-color: rgba(32, 3, 56, 0.236);
    border: none;
}

.text-sound {
    font-size: 11px;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.421);
    border-radius: 10px;
    padding: 10px;
    width: 220px;
    height: 250px;
    background-color: rgba(32, 3, 56, 0.236);
}

.room:hover {
    border-color: #a0cfe1;
    box-shadow: 12px 12px 2px rgb(172, 213, 212, 0.2);
    content: "";
    position: relative;
}

.room-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.room-icon img,
#content img {
    height: 50px;
    width: 50px;
}

.devices {
    display: flex;
    justify-content: center;
}

.device {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    position: relative;
}

.device img {
    height: 30px;
    width: 30px;
}

#tv {
    cursor: pointer;
}

#tv-container {
    display: none; 
    position: absolute;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    margin-top: -20px;
    background-color: rgba(96, 120, 129, 0.945);
    z-index: 10;
    margin-left: 125px;
}

#volume-bar {
    width: 50%;
    height: 12px;
    background-color: lightgrey;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
}

#volume-bar::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#volume-up,
#volume-down,
#close-tv {
    font-size: 15px;
    width: 20px;
    background-color: lightgrey;
    border: none;
    color: azure;
    border-radius: 50%;
    cursor: pointer;
}

.tv-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#channel-select {
    border-radius: 10px;
}


.sound-system-volume,
.jalousie-system {
    width: 70px;
    margin-top: 10px;
    cursor: pointer;
}

.ac-temperature,
.sound-system-volume,
.jalousie-system {
    display: none;
}

#ac-temp {
    width: 40px;
    text-align: center;
    background-color: rgba(32, 3, 56, 0.236);
    border: none;
}

#content {
    display: flex;
    flex-direction: row;
    background-color: rgba(32, 3, 56, 0.236);
    border: 1px solid rgba(0, 0, 0, 0.421);
    border-radius: 10px;
    align-content: center;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
}

#security,
#lights,
#thermostat,
#appliances {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-btn {
    display: inline-flex;
}

.temperature-display {
    text-align: center;
}

.container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 13px;
    color: rgb(188, 28, 28);
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid rgba(188, 28, 28, 0.456);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(188, 28, 28, 0.456);
    transition: .3s;
}

.active {
    border-color: rgb(85, 227, 118);
}

.active+.text {
    color: rgb(85, 227, 118);
}

.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: rgb(85, 227, 118);
}

.temperature-button {
    width: 100px;
    height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: grid;
}

.dots-box {
    cursor: pointer;
    transform: rotate(5deg);
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.temperature-button_info {
    font-size: 17px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    box-shadow: 0 0 10px rgb(232, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature-button_info::before {
    content: '';
    display: block;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    border-radius: 100%;
    border: 1px solid rgb(248, 243, 243);
    opacity: 0.6;
}

.dots,
.line,
.line_active,
.round,
.seperate-lines,
.seperate-dots {
    fill: transparent;
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 0 21;
    transition: all 0.5s ease-in-out;
}

.line,
.line_active,
.round {
    stroke-width: 1px;
    stroke-dasharray: 276 276;
    transform: rotate(48deg);
    transform-origin: center;
}

.line_active {
    stroke: rgba(246, 33, 9, 0.871);
    stroke-dasharray: 100 276;/* from 54 to 276 */
    transition: all 0.5s ease-in-out;
}

.round {
    stroke-width: 16px;
    stroke-dasharray: 0 276;
    transform: rotate(-240deg);/* from -240 to 48 degrees */
}

.seperate-lines,
.seperate-dots {
    stroke: rgba(84, 185, 50, 0.93);
    transform: rotate(60deg);
    transform-origin: center;
}

.seperate-dots {
    stroke-dasharray: 40 313;
}

.seperate-lines {
    stroke-dasharray: 53 276;
    transform: rotate(49deg);
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
        width: 100%;
    }

    #content {
        margin-left: 70px;
        margin-right: 70px;
    }
}