body {
    background-image: linear-gradient(rgba(8, 2, 20, 0.902), rgba(17, 2, 22, 0.373)), url(../images/smart-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Alkatra', cursive;
}

.page {
    display: flex;
    flex-direction: column;
}

.room-name,
.device-name,
.status {
    color: aliceblue;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.421);
    border-radius: 10px;
    padding: 10px;
    width: 220px;
    height: 250px;
    background-color: rgba(32, 3, 56, 0.236);
}

.room:hover {
    border-color: #a0cfe1;
    box-shadow: inset 0 0 3px rgb(172, 213, 212);
    content: "";
    position: relative;
}

.room-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.room-icon img, #content img {
    height: 50px;
    width: 50px;
}

.devices {
    display: flex;
    justify-content: center;
}

.device {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.device img {
    height: 30px;
    width: 30px;
}

.device-switch {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.565);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
}

.device-switch:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ffffffa0;
    top: 0;
    transition: transform 0.3s ease-in-out;
}

.device-switch.on:before {
    transform: translateX(85%);
    background-color: rgba(255, 0, 0, 0.645);
}

.device-switch.off:before {
    transform: translateX(-17%);
    background-color: rgba(9, 152, 9, 0.773);
}

#tv {
    cursor: pointer;
}

.ac-temperature,
.sound-system-volume,
.jalousie-system {
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
        width: 100%;
    }

    #content {
        margin-right: 50px;
    }
}